@tailwind base;
@tailwind components;
@tailwind utilities;
.capital:first-letter {text-transform: uppercase}



.leaflet-popup-content-wrapper {
    background: #00213f !important;
    color: #adefd1;
  }

  .cover-event{
    mask-image: linear-gradient(#fcfcfcde 5%, #fcfcfc, transparent);
    }


    .truncate {
        display: -webkit-box;
        max-width: 200px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }


  .leaflet-popup-content-wrapper .leaflet-popup-content {
    background: #00213f;
    color: #adefd1;
  }

  .leaflet-popup-tip-container {
    width: 0px;
    height: 0px;
  }

  .leaflet-popup-tip {
    width: 0px;
    height: 0px;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

